<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cloud.typography.com/6442452/6158992/css/fonts.css" media="print" onload="this.media='all'; this.onload=null;">
</head>

<body>
    {{> partialDetailCss}}
    <div class="reference-samples__details reference-samples__hidden">
        <div class="reference-samples__details__header">
            <div class="reference-samples__details__title">
                <img class="reference-samples__details__title__logo" src="{{logo}}">
                <div class="reference-samples__details__title__split"></div>
                <div class="reference-samples__details__title__description">Reference Sample Explorer</div>
            </div>
            <div class="reference-samples__details__close"></div>
        </div>
        <div class="reference-samples__details__body">
            <div class="reference-samples__details__label">
                <div class="reference-samples__details__name">{{sampleData.title}}</div>
                <div class="reference-samples__details__framework">
                    <span class="reference-samples__details__framework__tip">Framework: </span>
                    {{#each sampleData.framework}}
                    <span class="reference-samples__details__framework__text">{{this}}</span>
                    {{/each}}
                </div>
            </div>
            <div class="reference-samples__details__content">
                <div class="reference-samples__details__text">
                    {{sampleData.longDescription}}
                </div>
                <div class="reference-samples__details__image__container">
                    <div style="position:relative">
                        <img src="{{completeImagePath}}" class="reference-samples__details__image">
                        <div class="reference-samples__details__tags">
                            {{#each sampleData.framework}}
                            <div class="reference-samples__details__tag">{{this}}</div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="reference-samples__details__buttons">
                <div class="reference-samples__details__buttons__code">View Source Code</div>
                <div class="reference-samples__details__button__container" tabindex="0">
                    <div class="reference-samples__details__button__selector reference-samples__details__buttons__run">
                        <span>Run</span>
                        <div class="reference-samples__details__buttons__arrow-down"></div>
                    </div>
                    <div class="reference-samples__details__selector">
                        <ul class="reference-samples__details__selector__list">
                            {{#each runData}}
                            <li class="reference-samples__details__selector__item">
                                <a class="reference-samples__details__selector__item__text" href="{{runPath}}"
                                    target="_blank">
                                    {{framework}}
                                </a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="reference-samples__details__button__container" tabindex="0">
                    <div
                        class="reference-samples__details__button__selector reference-samples__details__buttons__download">
                        <span>Download</span>
                        <div class="reference-samples__details__buttons__arrow-down"></div>
                    </div>
                    <div class="reference-samples__details__selector">
                        <ul class="reference-samples__details__selector__list" data-action="download">
                            {{#each downloadData}}
                            <li class="reference-samples__details__selector__item">
                                <a class="reference-samples__details__selector__item__text" href="{{downloadPath}}"
                                    download="{{filename}}">
                                    {{framework}}
                                </a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{{> partialDetailScript}}
<script>
    if (window === window.parent) {
        //redrict
        window.location.href = "{{redirectURL}}";
    } else {
        document.querySelector(".reference-samples__details").classList.remove('reference-samples__hidden');
    }

</script>

</html>