<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="reference-samples">
    {{> partialListCss}}
    {{#if isAllpage}}
    <div class="reference-samples__search-box">
        <h1 class="reference-samples__search-box__title">Reference Samples</h1>
        <div class="reference-sample-search-box__checkboxes">
            {{#each frameworkListData}}
            <input class="reference-sample-search-box__checkbox" type="checkbox" name="{{framework}}" id="{{framework}}" checked="checked">
            <label for="{{framework}}" class="reference-sample-search-box__checkbox-label">{{frameworkDisplayName}}</label>
            {{/each}}
        </div>
    </div>
    {{else}}
    <div class="description-title">
        <h1 id="welcome-to-wijmo">{{framework}}</h1>
    </div>
    {{/if}}
    {{> partialList}}
</body>
    {{> partialListScript}}
</html>